<!DOCTYPE html>
<html>
<head>
	<title>Proyecto <%=proyecto.project_name%></title>
	

</head>
<body>
    <%- include ('../partials/navegacion.html')%>
    <%- include ('../partials/alerts.html')%>

    <div class="container container-profile-project">
                <div class="card">
                    <div class="card-body">
                        <div class="card-image"><img src="../../../../projects/src/public/" alt=""></div>
                        <a href="<%=proyecto.project_url%>" target="_blank">
                            <h3 class="card-title">
                                <%=proyecto.project_name%>
                            </h3>
                        </a>
                        
                        <p class="project-descr"><%=proyecto.project_description%></p>
                        <p class="mayus-timeago"><%=timeago(proyecto.timestamp)%></p>
                    </div>
                </div>
            </div>

            <script>
                const btnLike = document.getElementById("btn-like")
                const btnDislike = document.getElementById("btn-like")

                btnLike.addEventListener('like', () => {
                    
                })
            </script>
</body>
</html>