<!DOCTYPE html>
<html>
<head>
	<title>Proyectos Register</title>
	

</head>
<body>
<%- include ('../partials/navegacion.html')%>
<%- include ('../partials/alerts.html')%>

<div class="container">
    <div class="card">
        <div class="register">
        <div class="card-form-project">
        <div class="card-body">
            <div class="card-title">
                <h3>Registro</h3>
            </div>
            <form action="/register" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="fullname" placeholder="Nombre completo" required
                        autofocus>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Nombre de Usuario" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="pass" placeholder="Contraseña" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-confirm btn-block">
                        Registrarse
                    </button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
</div>
</body>
</html> 